<h2>Employee: </h2>

Full Name: <%= @employee['full_name'] %><br>
Email: <%= @employee['email'] %><br>
Birthday: <%= @employee['birthday'] %><br>

<%= button_to "Delete", @employee, method: :delete %>